.main-card {
  /* height: 600px; */
  width: 350px;
  /* width: 300px; */
  background-size: contain;
  background-position: center;
  border: 2px solid rgb(71, 71, 71);
  border-radius: 15px;
  color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  margin: 15px 0px;
  aspect-ratio: 2/3;
  background-repeat: no-repeat;
  transition: all 0.3s;
}

.main-card:hover {
  /* transition: all 0.2s; */
  transform: scale(1.1);
}

.main-card_details:hover {
  transform: none;
}
