* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-image: linear-gradient(to bottom, #041010, #092020);
  color: rgb(247, 247, 247);
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  /* border: 1px solid red; */
  font-family: 'poppins';
  padding-bottom: 50px;
}

.cards-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
